@use '../../styles/variables' as *;

.panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $background-color;

  max-height: 100vh;
  overflow-y: auto;

  @media (width<500px) {
    width: 40vw;
  }

  @media (width < 350px) {
    left: -100%;
    transition: left 0.3s ease-in-out;
    width: 100%;

  }

  &.open {
    left: 0;
  }
}

.info {
  text-align: right;
  font-size: $font-size-sm;
  color: $text-color;
}
