@use '../variables' as *;

button:not([type="button"]) {
  padding: 10px 10px;
  font-size: $font-size-sm;

  text-align: center;

  background-color: transparent;
  color: $text-color;

  border: 1px solid $primary-color;
  border-radius: 4px;

  cursor: pointer;
  transition: all 0.3s easy;

  &:hover {
    box-shadow: 0 0 15px rgba(238, 255, 3, 0.7);
    background-color: rgba(238, 255, 3, 0.2);
    color: #000000;
  }

  &:active {
    box-shadow: 0 0 15px rgba(238, 255, 3, 0.7);
    color: #000000;
  }
}
