@use '../../styles/_variables.scss' as *;

.editor {
  position: fixed;
  bottom: 0;

  height: 200px;
  width: 100%;
  background-color: white;
  color: #000000;
}

.panel {
  height: 5vh;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  background-color: $background-color;
}

.content {
  height: 100%;
}
