.editor {
  position: fixed;
  bottom: 0;
  /* left: 120px; */
  height: 200px;
  width: 100%;
  background-color: white;
}

.panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: aqua;
}

.content{
  height: 100%;
}
