$primary-color: #eeff03;
$secondary-color: #2eafcc;
$background-color: #414141;
$canva-color: #d3d1d1 ;

$text-color: #ffffff;

$font-family: 'Roboto', sans-serif;
$font-size-m: clamp(16px, 2vw, 20px);
$font-size-lg: clamp(18px, 2vw, 26px);
$font-size-sm:  clamp(14px, 2vw, 18px);